{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% load static %}
{% block body_block %}
    <div class="row">
        <div class="col-12">
            <img src="{% static 'css/Screenshot from 2018-09-29 10-32-35.jpg' %}" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="{% static 'css/Screenshot from 2018-09-29 10-32-44.jpg' %}" width="100%">
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>
{% endblock %}
