{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% load static %}
{% block body_block %}
    <div class="row">
        <div class="col-12">
            <img src="{% static 'css/Screenshot from 2018-09-29 10-32-35.jpg' %}" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="{% static 'css/Screenshot from 2018-09-29 10-32-44.jpg' %}" width="100%">
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create your Order</h4>
                </div>
                <form method="POST">
                    <div class="modal-body">
                        <table>
                            {% for field in order %}
                                <tr>
                                    <td>{{ field.label_tag }}</td>
                                    <td>
                                        {% if field.name == "delivery_date" %}
                                            <div class='input-group date' id='datetimepicker2'>
                                                {{ field }}
                                                <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                            </div>
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    </td>
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class='btn btn-primary' value="Place Order">
                        <a class="btn " data-dismiss="modal">Close</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
