{% extends "basic_app/base.html" %}
{% load order_tags %}

{% block body_block %}
   <div class="centerstage row">
       <div class="col-12">
           {% for order in order_list %}
               <div class="order">
                   <h1>{{ order.orderedBy.username }}</h1>
                   <div class="date">
                       <p>Placed on: {{ order.date_placed |date:"D M Y" }}</p>
                   </div>
                   <div>
                       {% order_total order.pk %}
                   </div>
               </div>
           {% endfor %}
           <a class='btn btn-primary' href="{% url 'basic_app:user_update' pk=request.user.id %}">Update</a>

       </div>
   </div>
{% endblock %}