{% extends "basic_app/base.html" %}
{% block body_block %}
    <div class="row">
        <div class="col-12 image-home text-center">
            <div class="topbakground_registration">
                {% if registered %}
                    {# #this registered is used in views.py #}
                    <h1>Thank you for registering!</h1>
                    <a href="{% url 'index' %}" type="submit" value="Login"
                                   style="color:white;padding-right: 50px"
                                   class="btn btn-lg btn-link pull-right">Login</a>
                {% else %}
                    <h1>Register Here</h1>
                    <h3>Just fill out the form.</h3>
                    {# for the images uploading to work we used enctype #}
                    <div class="row">
                        <div class="col-md-12">
                            <form enctype="multipart/form-data" method="POST">
                                {% csrf_token %}
                                <table>
                                    {% for field in user_form %}
                                        <tr>
                                            <td class="registraion_field">{{ field.label_tag }}</td>
                                            <td>{{ field }}</td>
                                            {% for error in field.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                                <a href="{% url 'index' %}" type="submit" value="Login"
                                   style="color:white;padding-right: 50px"
                                   class="btn btn-lg btn-link pull-right">Login</a>
                                <input class="btn btn-lg btn-primary pull-right" type="submit" name=""
                                       value="Register">
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
