.navbar {
    margin-bottom: 0px;
}

.image-home {
    background-image: url('bottled-water-delivery_water_hero-fullsize.jpg');
    height: 871px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.topbakground {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-background-color: rgba(0, 0, 0, 0.6);
    -moz-background-color: rgba(0, 0, 0, 0.6);
    -o-background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    min-height: 350px;
    width: 70%;
}

.login-form{
    margin-top: 150px;
    padding-left: 190px;

}
.about{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
}
.login-padding{
    padding-left: 20px;
    padding-top: 35px;
    padding-right: 20px;
}
.padding-top-for-text{
    padding-top: 50px;
}

.topbakground_registration {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-background-color: rgba(0, 0, 0, 0.6);
    -moz-background-color: rgba(0, 0, 0, 0.6);
    -o-background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    min-height: 620px;
    width: 50%;
    margin-left: 25%;
    padding-top: 20px;
}
table td{
    padding-top: 50px;
}
.registraion_field{
    padding-left: 320px;
}
.add-new-address{
    padding-top: 30px;
    padding-left: 99px;
}
.address{
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-background-color: rgba(0, 0, 0, 0.3);
    -moz-background-color: rgba(0, 0, 0, 0.3);
    -o-background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    min-height: 230px;
    width: 90%;
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;

}
.list-address{
    padding-left: 100px;
    padding-top: 50px;
}
.image-address{
    background-image: url('addresss.jpg');
    height: 871px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.image-address-update{
    background-image: url('imageedit_5_2486477628.png');
    height:600px;
    background-repeat: no-repeat;
    background-size: 50% 550px;
    margin-left: 33%;
    margin-top: 145px;
    z-index: -8;
}
.address-update{
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-background-color: rgba(0, 0, 0, 0.3);
    -moz-background-color: rgba(0, 0, 0, 0.3);
    -o-background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    min-height: 550px;
    width:  50%;
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.order-list{
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-background-color: rgba(0, 0, 0, 0.3);
    -moz-background-color: rgba(0, 0, 0, 0.3);
    -o-background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    min-height: 420px;
    width:  95%;
    padding-top: 50px;
    padding-left: 30px;
    margin-top: 40px;
    margin-left: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-style:italic ;
}
.profile-update{
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-background-color: rgba(0, 0, 0, 0.3);
    -moz-background-color: rgba(0, 0, 0, 0.3);
    -o-background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    min-height: 600px;
    width:  50%;
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.image-profile-update{
    background-image: url('People_group_users_friends_man_user_vector.png');
    height:600px;
    background-repeat: no-repeat;
    background-size: 50% 550px;
    margin-left: 33%;
    margin-top: 145px;
    z-index: -8;
}